LOAD_TEST_DATA='True'
SECRET='secret'
DEBUG='True'
POSTGRES_DB='foodgram'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='passforapp'
DB_HOST='db'
DB_PORT='5432'
ALLOWED_HOSTS='127.0.0.1, localhost, frontend'